/*----------------------------------------------------------------------------------//
//------------------------------RESET DEFAULT STYLES--------------------------------//
//----------------------------------------------------------------------------------*/
@import url(../styles/droidsans.css);
@import url(../styles/droidserif.css);
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:20px Droid Sans, Calibri, arial, Tahoma, sans-serif;  color:#FFF; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
p                              {font: 20px DroidSerif, Calibri, arial, Tahoma, sans-serif; color:#FFF; line-height: 1.4; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a                              {  text-decoration: none;}