@import url(../styles/reset.css);
@import url(../styles/icons.css);
header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header .container {
    display: flex;
    padding: 45px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.menu {
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-item {
    padding: 5px 10px;
}
.menu-item a {
    color: #FFF;
    font-size: 22px;
}
.video {
    height: 100vh;
    background-color: #34495E;
}
video {
    width: 100%;
    height: auto;
}
.sixteen-nine {
    position: relative;
}
.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}
.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.video-title {
    max-width: 850px;
    position: absolute;
    top: 40%;
    right: 20%;
    left: 20%;
    margin: 0 auto;
}
.video-headline {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
}
.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.explore-link{
    margin: 0 auto;
}
.explore-link:before {
    content: "";
    border-top: 1px solid #808080;
    display: block;
    position: relative;
    top: 30px;
    left: -60px;
    margin-left: calc(-1*(((100vw - 1170px) / 2) + (960px / 2)));

}
.explore-link:after{
    content: "";
    border-top: 1px solid #808080;
    display: block;
    position: relative;
    top: -30px;
    right: -60px;
    margin-right: calc(-1*(((100vw - 1170px) / 2) + (960px / 2)));
}
.explore-title {
    display: block;
    font: 27px DroidSerif;
    padding-top: 20px;
}
#about {
    height: 100vh;
    background-color: #34495E;
    position: relative;
    padding: 125px 0 100px;
}
#about .about-block {
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 140px;
}
#about .about-headline {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 60px;
}
#about .about-text {
    font-size: 24px;
    line-height: 1.4;
}
#services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}
.services-block {
    width: 245px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-item {
    width: 200px;
    height: 200px;
}
.service-icon {
    width: 190px;
    height: 190px;
    font-size: 6em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FFF;
}
.services-headline {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    padding: 25px 0 30px;
}

